nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 0;
  left: 0;
  right: 0;
}

.logo img {
  height: 2.5rem; /* equivalent to Tailwind's h-12 */
  width: auto;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.25rem; /* equivalent to Tailwind's gap-5 */
}

.nav-links li {
  font-size: 0.89rem; /* equivalent to Tailwind's text-lg */
  text-transform: uppercase;
}
.item{
  margin-top: 0.5rem;
}
.nav-links li a {
  color: black;
  position: relative;
  padding: 0.25rem 0; /* equivalent to Tailwind's py-1 */
}

.nav-links li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.5s;
  margin: 0 auto;
}

.nav-links li a:hover::after {
  width: 100%;
}

.admin-pannel button {
  border: 2px solid #d1d1d1;
  background-color: white;
  color: black;
  padding: 0.25rem 1rem; /* equivalent to Tailwind's py-1 px-4 */
  border-radius: 9999px; /* equivalent to Tailwind's rounded-full */
  cursor: pointer;
  size: -.5;
}

.admin-pannel button:hover {
  border-color: #808080; /* equivalent to Tailwind's hover:border-gray-500 */
}

.icons {
  display: flex;
  align-items: center;
  gap: 1.25rem; /* equivalent to Tailwind's gap-5 */
}

.icons img {
  height: 1.5rem; /* equivalent to Tailwind's h-6 */
  width: 1.3rem; /* equivalent to Tailwind's w-6 */
  cursor: pointer;
}
